.header {
  width: 100%;
  text-align: center;
  margin-bottom: 15px; }
  .header .header_img {
    background-color: #344150;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .header_img img {
      width: 40%; }
  .header .header_question {
    display: flex;
    justify-content: start; }
    .header .header_question h1 {
      color: white;
      font-family: "Overpass", sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      margin-top: 30px; }

.container {
  background-color: #252d37;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 399px;
  border-radius: 25px;
  padding: 30px; }

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22272f; }

.main {
  font-family: "Overpass", sans-serif;
  font-weight: 400; }
  .main .main_contents p {
    color: #959eac;
    margin: 0px 0px 25px 0px;
    font-size: 1rem; }
  .main .main_button {
    display: flex;
    justify-content: space-between; }
    .main .main_button .botton {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      font-family: "Overpass", sans-serif;
      background-color: #344150;
      margin: 0px 0px 30px 0px;
      color: #959eac;
      cursor: pointer; }
      .main .main_button .botton:hover {
        transition: 3;
        background-color: #fb7413;
        color: white; }
  .main .main_submit #submit {
    width: 100%;
    height: 45px;
    margin: auto;
    border-radius: 50px;
    background-color: #fb7413;
    color: white;
    font-family: "Overpass", sans-serif;
    font-weight: 700;
    cursor: pointer; }
    .main .main_submit #submit:hover {
      background-color: #86522d;
      color: #959eac;
      cursor: pointer; }

.cart_ready {
  background-color: #252d37;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 399px;
  border-radius: 25px;
  padding: 0px 40px 0px 40px; }
  .cart_ready .cart_ready-header img {
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .cart_ready .cart_ready-header p {
    color: #fb7413;
    font-family: "Overpass", sans-serif;
    background-color: #344150;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 25px 0px 0px 0px; }
  .cart_ready .cart_ready-main {
    margin-top: 10px; }
    .cart_ready .cart_ready-main h2 {
      margin-top: 20px;
      margin-bottom: 20px;
      color: white;
      font-family: "Overpass", sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center; }
    .cart_ready .cart_ready-main p {
      color: #959eac;
      text-align: center;
      font-size: 1rem;
      font-family: "Overpass", sans-serif; }
    .cart_ready .cart_ready-main button {
      width: 100%;
      height: 45px;
      margin-top: 20px;
      border-radius: 50px;
      background-color: #fb7413;
      color: white;
      font-family: "Overpass", sans-serif;
      font-weight: 700;
      cursor: pointer; }
      .cart_ready .cart_ready-main button:hover {
        background-color: #86522d;
        color: #959eac;
        cursor: pointer; }

/*# sourceMappingURL=style.css.map */
