$colorOrange : hsl(25, 97%, 53%);
$colorOrangehover : hsl(25, 50%, 35%);
$colorwhite:hsl(0, 0%, 100%);
$colorlightgray:hsl(217, 12%, 63%);
$colormediumgrey:hsl(216, 12%, 54%);
$colordarkblue:hsl(213, 19%, 18%);
$colordarkbluebody:hsl(217, 16%, 16%);
$colordarkbluestar:hsl(213, 21%, 26%);
$verydarkblue:hsl(216, 12%, 8%);
$fontfamily:'Overpass', sans-serif;
$fonsize:1.8rem;
$fonsizep: 1.0rem;
$fontweightssmall:400;
$fontweightslarge:700;
